@{
    ViewBag.Title = "Mis reservas";
}
<br />
<div class="loader"></div>
<input type="hidden" id="paramInicio" />
<input type="hidden" id="salaSelect" />
<div class="panel panel-success">
    <div class="panel-heading" style="padding-bottom:0px;"><h4>HISTORIAL RESERVAS</h4></div>
    <div class="panel-body">
        <div class="row">
            <div class="form-group col-sm-12 col-md-3 col-lg-3">
                <label class="col-sm-12 col-md-4 col-lg-4 control-label" for="pais" style="padding-top:10px;padding-left:10px;">Pais:</label>
                <div class="col-sm-12 col-md-8 col-lg-8">
                    <select class="form-control" id="pais" @Html.Raw((User.IsInRole("Admin") ? "" : "disabled")) onchange="listarAdmin(this)">
                        <option value="0">--SELEC--</option>
                        <option value="PERU">PERU</option>
                        <option value="MEXICO">MEXICO</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-12 col-md-3 col-lg-3">
                <label class="col-sm-12 col-md-4 col-lg-4 control-label" for="sede" style="padding-top:10px;padding-left:10px;">Sede:</label>
                <div class="col-sm-12 col-md-8 col-lg-8">
                    <select class="form-control" id="sede" onchange="listarSalas(this);">
                        <option value="0">--SELEC--</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-12 col-md-3 col-lg-3">
                <label class="col-sm-12 col-md-4 col-lg-4 control-label" for="sala" style="padding-top:10px;padding-left:10px;">Sala:</label>
                <div class="col-sm-12 col-md-8 col-lg-8">
                    <select class="form-control" id="sala">
                        <option value="0">--SELEC--</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-12 col-md-3 col-lg-3">
                <label class="col-sm-12 col-md-4 col-lg-4 control-label" for="sala" style="padding-top:10px;padding-left:10px;">Estado:</label>
                <div class="col-sm-12 col-md-8 col-lg-8">
                    <select class="form-control" id="estado">
                        <option value="9">--SELEC--</option>
                        <option value="1" class="green">Vigente</option>
                        <option value="2" class="yellow">En reserva</option>
                        <option value="3" class="red">Terminada</option>
                        <option value="4" class="black">Cancelada</option>
                    </select>
                </div>
            </div>
        </div>
        <button class="btn btn-success" onclick="buscarReservas();"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Buscar</button>
    </div>
    <div class="panel-heading" style="padding-bottom:0px;background:#E7E7E7;color:black;border:1px solid #D6D6D6"><h4 style="font-weight:bold;">Resultado:</h4></div>
    <div class="panel-body" id="content" style="display:none;">
        <div class="panel-group" id="result"></div>
    </div>
</div>
<div class="modal fade" id="dvMisActivos" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="dvMisActivosLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:30%;">
        <div class="modal-content">
            <div class="modal-body" style="padding-bottom:0px;padding-top:10px;">
                <fieldset class="border:solid 1px;padding:10px;">
                    <legend class="ng-binding" style="width:auto;border-bottom:0;margin-bottom:10px;font-size:16px;font-style:italic;color:#B7B7B7;" id="nameSala"></legend>
                    <table class="table">
                        <thead class="blue-grey lighten-4">
                            <tr>
                                <th>Activo</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody id="listActivos"></tbody>
                    </table>
                </fieldset>
            </div>
            <div class="modal-footer" style="padding-top:5px;padding-bottom:5px;">
                <button class="btn btn-success" data-dismiss="modal" aria-hidden="true">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dvCalendario" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="dvCalendarioLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:60%;">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#5cb85c;">
                <button type="button" class="close" aria-hidden="true" @Html.Raw((User.IsInRole("Administrador") ? "onclick='cerrarModal()'" : "data-dismiss='modal'"))>
                    ×
                </button>
                <h4 class="modal-title" style="color:white;">Reservas:<span id="miSalaM"></span>&nbsp;-&nbsp;Administrador:<span id="miAdmin"></span></h4>
            </div>
            <div class="modal-body" style="padding-bottom:0px;padding-top:10px;">
                <div id="calendar"></div>
            </div>
            <div class="modal-footer" style="padding-top:5px;padding-bottom:5px;">
                @if (User.IsInRole("Administrador"))
                {
                    <button class="btn btn-default" onclick="cerrarModal()">Cancelar</button>
                    <button class="btn btn-success" onclick="guardarAllUpdates()">Guardar</button>
                }
                else
                {
                    <button class="btn btn-success" data-dismiss="modal">Ok</button>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dvMisEvents" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="dvMisEvents" aria-hidden="true">
    <div class="modal-dialog" style="width:40%;">
        <div class="modal-content">
            <div class="modal-body">
                <fieldset class="border:solid 1px;padding:10px;">
                    <legend class="ng-binding" style="width:auto;border-bottom:0;margin-bottom:10px;font-size:16px;font-style:italic;color:#B7B7B7;">Nueva reserva</legend>
                    <div class="form-group">
                        <label class="col-sm-12 col-md-4 col-lg-4 control-label" for="tituloR" style="padding-top:10px;padding-left:10px;">Descripción:</label>
                        <div class="col-sm-12 col-md-8 col-lg-8">
                            <textarea class="form-control" rows="3" id="tituloR" disabled></textarea>
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <div class="form-group">
                        <label class="col-sm-12 col-md-4 col-lg-4 control-label" for="dinicioR" style="padding-top:10px;padding-left:10px;">Dia inicio:</label>
                        <div class="col-sm-12 col-md-8 col-lg-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i></span>
                                <input type="date" class="form-control" placeholder="YYYY-MM-DD" id="dinicioR" max="2040-02-20" onchange="cambioInicio(this);" disabled>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <label class="col-sm-12 col-md-4 col-lg-4 control-label" for="dfinR" style="padding-top:10px;padding-left:10px;">Dia fin:</label>
                        <div class="col-sm-12 col-md-8 col-lg-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i></span>
                                <input type="date" class="form-control" placeholder="YYYY-MM-DD" id="dfinR" max="2040-02-20" disabled>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <label class="col-sm-12 col-md-4 col-lg-4 control-label" for="hinicioR" style="padding-top:10px;padding-left:10px;">Hora inicio:</label>
                        <div class="col-sm-12 col-md-8 col-lg-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                <select class="form-control" id="hinicioR" onchange="changeHinicio(this);" @Html.Raw(((User.IsInRole("Administrador") || User.IsInRole("Admin")) ? "" : "disabled='disabled'"))>
                                    <option value="0">--SELECCIONAR--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <label class="col-sm-12 col-md-4 col-lg-4 control-label" for="hfinR" style="padding-top:10px;padding-left:10px;">Hora fin:</label>
                        <div class="col-sm-12 col-md-8 col-lg-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                <select class="form-control" id="hfinR" disabled="disabled">
                                    <option value="0">--SELECCIONAR--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <label class="col-sm-12 col-md-4 col-lg-4 control-label" for="tituloR" style="padding-top:10px;padding-left:10px;">Solicitante:</label>
                        <div class="col-sm-12 col-md-8 col-lg-8">
                            <input type="text" class="form-control" id="creadorR" disabled>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer" style="margin-top:0px;padding-top:5px;padding-bottom:5px;">
                @if (User.IsInRole("Administrador"))
                {
                    <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-success" onclick="updateEvent()">Guardar</button>
                    <span id="idcue" style="display:none;"></span>
                }
                else
                {
                    <button class="btn btn-success" data-dismiss="modal">Ok</button>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dvCheck" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="dvCheckLabel" aria-hidden="true">
    <div class="modal-dialog" style="">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#5cb85c;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" style="color:white;"><span id="checkList"></span><span id="checkRealizado"></span><span id="advertencia" style="font-style:italic;font-size:15px;color:#fff"></span></h4>
            </div>
            <div class="modal-body" style="padding-bottom:0px;padding-top:10px;" id="bodyCheck">
            </div>
            <div class="modal-footer" style="padding-top:5px;padding-bottom:5px;">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                <button type="button" class="btn btn-success" title="Guardar CheckList" id="miCheck" onclick="guardarCheck()">
                    Guardar &nbsp;&nbsp;<span class="glyphicon glyphicon-floppy-disk"></span>
                </button>
                <span style="display:none;" id="idReserva"></span>
                <span style="display:none;" id="idSala"></span>
                <span style="display:none;" id="iniFin"></span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dvUpdateEvents" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="dvUpdateEvents" aria-hidden="true">
    <div class="modal-dialog" style="width:40%;">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#5cb85c;">
                <button type="button" class="close" aria-hidden="true" onclick="cerrarModalUpdate();">
                    ×
                </button>
                <h4 class="modal-title" style="color:white;">Reservas actualizadas:</h4>
            </div>
            <div class="modal-body" style="padding-bottom:0px;padding-top:10px;">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" id="listReservas">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="padding-top:5px;padding-bottom:5px;">
                <button class="btn btn-default" onclick="cerrarModalUpdate();">Cancelar</button>
                <button class="btn btn-success" onclick="EnviarUpdates()">Guardar</button>
            </div>
        </div>
    </div>
</div>


@Styles.Render("~/styles/ProcesoReserva")
@Styles.Render("~/styles/MisReservas")
<link href="~/Content/css/fullCalendar/fullcalendar.print.min.css" rel="stylesheet" media="print">
@Scripts.Render("~/scripts/MisReservas")